<!DOCTYPE html>
<html lang="en">
	<head>
		<title>PRINTER</title>
		<meta charset="utf-8">
		<meta name="author" content="sen">
		<meta name="description" content="三臀男孩-情感勘探所">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/index.css">
	</head>

	<body>
		<div  class="wrapper">
			<p id="datetime">20.05.2017</p>
			<p id="gender">男 MAN</p>
			<p id="age">18</p>
			<p id="energy">0.97556</p>
			<p id="number">000001</p>
			<img id="me" src=""></img>
			<img id="h5" src=""></img>
		</div>



	</body>
</html>